body {
    background-color: #e6e6fa; /* Lavender background for Income per Head */
}

.header {
    background: #4682b4; /* SteelBlue for header */
}

.card {
    background: #5f9ea0; /* CadetBlue for cards
} 
    .card {
    background: #5f9ea0; /* CadetBlue for cards */
}

.card:hover {
    background: #20b2aa; /* LightSeaGreen on hover */
}

.container {
    padding: 20px;
}

.submit-button {
    background: #4682b4; /* SteelBlue for submit button */
}

.submit-button:hover {
    background: #4169e1; /* RoyalBlue on hover */
}

.back-button {
    padding: 10px 20px;
    background: #4682b4; /* SteelBlue for back button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.back-button:hover {
    background: #4169e1; /* Darker shade on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Drop shadow */
    transform: translateY(-3px); /* Pop-up effect */
}